 <div class="navbar">
        <div class="navbar-brand">Book Store</div>
        <div class="navbar-menu">
            <a href="#" class="nav-link"><i class="bi bi-house-door-fill"></i> Home</a>
            <a href="#" class="nav-link"> <i class="bi bi-book-half"></i>Products</a>
            <a href="#" class="nav-link"><i class="bi bi-info-circle-fill"></i> About</a>
            <div class="search-container d-flex">
                <input 
                    type="text" 
                    class="search-input" 
                    placeholder="Search..."
                    id="searchInput"
                >
                <div class=" go-to d-flex m-auto ">
                    <a class="ms-4 me-2 text-decoration-none fw-bold" href=""><i class="bi bi-heart-fill"></i> wishlist</a>
                    <a class="ms-4 me-2 text-decoration-none fw-bold" href=""><i class="bi bi-cart4"></i> cart</a>
                </div>
                <svg class="search-icon" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
            </div>
                <div>
                    <button class="theme-toggle fw-bold" >Login</button>
                    <button class="theme-toggle fw-bold" >Register</button>
                </div>
            <button class="theme-toggle" (click)="toggleTheme()">
                {{ theme === 'dark' ? '☀️' : '🌙' }}
            </button>
        </div>

    </div>

