<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">MAIN PAGES </span>
                </a>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-shop"></i>
                            <span class="ms-1 d-none d-sm-inline">Shop </span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-filter-square-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Category Page </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-journals"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Book Page </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-filetype-pdf"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Book PDF </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-bag-check-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Checkout </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-bookmark-heart-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Wishlist </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-person-fill-gear"></i>
                            <span class="ms-1 d-none d-sm-inline">Admin</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-graph-up-arrow"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Dashboard </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-list-task"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Category List </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-person-badge-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Author </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-journal-bookmark-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Books </a>
                            </li>
                        </ul>
                    </li>

                    <!-- <div class="brake"></div> -->
                    <span class="fs-5 d-none d-sm-inline mt-4 mb-4"> PAGES </span>

                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi fs-4 bi-file-earmark-break-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Special Pages</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-circle-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Kanban </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-calendar2-week-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Calendar </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-bookmark-star"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Pricing </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-chat-square-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Invoice </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-clock-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Timeline </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-unlock-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Authentication</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100 ">
                                <i class="bi fs-5 bi-key-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Login </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-key-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Register </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-bookmark-star"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Recover Password </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-envelope-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Confirm Mail </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-lock-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Lock Screen </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-lock-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Two Factor </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-lock-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Account Deactivate </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-person-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">User</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-person-vcard-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> User Profile </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-person-fill-gear"></i>
                                <a href="#" class="nav-link px-0 d-inline"> User Edit </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-person-plus-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> User Add </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-people-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> User List </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-menu-button-wide"></i>
                            <span class="ms-1 d-none d-sm-inline">Extra Pages</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-info-circle-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Error 404 </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-info-circle-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Error 500 </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-input-cursor"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Maintenance </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-arrow-clockwise"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Coming Soon </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-compass-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> FAQ </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu7" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-menu-button-wide"></i>
                            <span class="ms-1 d-none d-sm-inline">Plugins</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu7" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 d-inline"> Treeview </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Choice JS</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Flatpickr </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> FSlightbox </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Gallery Hover </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Image Croper </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Rating </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Select 2 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Sweet Alert </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Quill </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 d-inline"> Uppy </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu8" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-bar-chart-line-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Charts</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu8" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-file-earmark-text-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Morris Chart </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-graph-up"></i>
                                <a href="#" class="nav-link px-0 d-inline"> High Charts </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-graph-up-arrow"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Am Charts </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-file-earmark-x-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Apex Chart </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="bi fs-5 bi-person-video2"></i>
                            <span class="ms-1 d-none d-sm-inline">Blank Page</span>
                        </a>
                    </li>

                    <!-- <div class="brake"></div> -->
                    <span class="fs-5 d-none d-sm-inline mt-4 mb-4"> ELEMENTS </span>
                    <li>
                        <a href="#submenu9" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-bar-chart-line-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">UI Elements</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu9" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-palette-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Colors </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-border-style"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Typography </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-exclamation-diamond-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Alerts </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-patch-check-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Badges </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-list"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Breadcrumb </a>
                            </li>
                            <li>
                                <i class="bi bi-menu-button-wide-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Buttons </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-credit-card"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Cards </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-film"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Carousel </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-camera-video-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Video </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-grid-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Grid </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-card-image"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Images </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-list-task"></i>
                                <a href="#" class="nav-link px-0 d-inline"> List Group </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-collection-play"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Media </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-book-half"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Modal </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-bell-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Notification </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-three-dots"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Pagination </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-eraser-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Popovers </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-hdd-stack-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Progressbar </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-database-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Taps </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-magnet-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Tooltips </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu10" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-pie-chart-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Widgets</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu10" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-pie-chart-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Widgets Basic </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-pie-chart-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Widgets Chart </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-pie-chart-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Widgets Card </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu11" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-journal-code"></i>
                            <span class="ms-1 d-none d-sm-inline">Forms</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu11" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-journal"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Form Elements </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-pen-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Form Validation </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-toggle-on"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Form Switch </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-check2-square"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Form Checkbox </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-ui-radios"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Form Radio </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-arrow-90deg-right"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Simple Wizard </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-arrow-90deg-down"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Validate Wizard </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-arrow-90deg-up"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Vertical Wizard </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu12" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-geo-alt-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Maps</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu12" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-globe-americas"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Google </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-globe-europe-africa"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Vector </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu13" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-table"></i>
                            <span class="ms-1 d-none d-sm-inline">Tables</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu13" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-grid"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Basic Table </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-buildings-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Data Table </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-credit-card-2-front-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Editable Table </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu14" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi fs-4 bi-ui-radios-grid"></i>
                            <span class="ms-1 d-none d-sm-inline">Icons</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu14" data-bs-parent="#menu">
                            <li class="w-100">
                                <i class="bi fs-5 bi-stack"></i> 
                                <a href="#" class="nav-link px-0 d-inline"> Dripicons </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-fonts"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Font Awesome 5 </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-lamp-fill"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Line Awesome </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-input-cursor-text"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Remixicon </a>
                            </li>
                            <li>
                                <i class="bi fs-5 bi-type-underline"></i>
                                <a href="#" class="nav-link px-0 d-inline"> Unicons </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            Content area...
        </div>
    </div>
</div>